{
    servers {
        protocols h1 h2
    }
}

relay.esluce.com, *.play.esluce.com {
    encode zstd gzip
    tls {
        protocols tls1.3
        dns cloudflare {$CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy relay-gateway:8080
}
